@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* 
/*Color de Fondo de la pagina 
    --color-1: rgb(100, 255, 255);
/*Color de texto
    --color-2 color black;
    */

/*     */

/*     */




body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(255, 255, 255);
    /*background: var(--color-1);*/
    margin: 0;
    
}

a {
    color: aliceblue;
    text-decoration: none;
}

a.actual {
    font-weight: bold;
    

}

header {
    background: rgb(0, 0, 0);
    
}

header > div > h1 {
    margin-top: 0;
}

#search {
    background: rgb(37, 28, 32);
    color: antiquewhite;
    border: 3px solid ;
    border-radius: 5em;
    font-weight: bold;
    font-size: 1em;
    padding: .01em 1.1em;
    display: inline-block;
}

header > div > h1 > a > span {
    color: rgb(red);
}

header > h1 > a {
    word-spacing: -0.2;
}


main {
    background-image: url(/img/nebulosa.jpg);
    color: blanchedalmond;
    
}

#principal > ul {
    margin-top: -1em;
}

main > ul > p.slogan {
    
    letter-spacing: 0.5em;
    font-weight: bolder;
    
    
}


#citas {
    background: rgb(92, 51, 92);
    margin-top: -1em;
    
}

#citas li {
    background:rgb(68, 36, 77);
    margin-top: 0;
}


#enlaces-cop {
    background: rgb(80, 78, 80);
    margin-top: -1.3em;
}


footer {
    background: rgb(80, 78, 80);
}

/*
#fondo-barnav {
   background: var(--bgcolor-1);
   
    content-visibility: auto;
    margin-bottom: 40px;
    background-color: #222;
    color: #fff;
    width: 100%;
    clear: both;
    position: relative;
    z-index: 0;
    overflow: hidden;
    

}

BOTONES*/

.boton-invertido {
    background: rgb(189, 28, 90);
    color: antiquewhite;
    border: 3px solid ;
    border-radius: 5em;
    font-weight: bold;
    font-size: 1em;
    padding: .4em 1.1em;
    display: inline-block;
}

.boton-invertido:hover {
    color: blueviolet;
    background-color: aliceblue;
}


.boton-enviar {
    background: rebeccapurple;
    color: antiquewhite;
    border: 3px solid ;
    border-radius: 5em;
    font-weight: bold;
    font-size: 1em;
    padding: .4em 1.1em;
    display: inline-block;
}

.boton-enviar:hover {
    color: blueviolet;
    background-color: aliceblue;
}

header ul, main ul, #citas ul, #enlaces-cop ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}


/*barras principal y citas*/

header ul, header li, #citas ul, footer ul {
    display: flex;
    place-content: space-between;

}

header {
    display: flex;
    place-content: space-between;
}

header, main, aside, footer {
    padding: 1em;
}

#citas li img {
    width: 5em;
    height: 5em;

}
.formu {
    color:navy;
    padding: 10px;
}

.articulo{
    display:flex;
    background-color:white;
    border-radius: 10px;
    color:black;
    padding: 40px;
}
.articulo ul{
    width: 80%;
}